@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

:root{
    --main-bg-color: purple;
    --font1:'Baloo Bhaina 2', cursive;
    --font2:'Roboto', sans-serif;
}

.font1{
    font-family: var(--font1);
}
.font2 {
    font-family: var(--font2);
}   

.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn{
    padding: 0px 9px;
    padding-top: 1px;
    border: 2px solid black;
    border-radius: 8px;
    font-family: var(--font1);
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}


.form-input{
    padding: 0px 1px;
    padding-top: 1px;
    margin: 0px 5px;
    font-size: 12px;
    font-family: var(--font1);
    border: 2px solid black;
    border-radius: 8px;

}

.form-box input,textarea{
    width: 34vw;
    padding: 0px 6px;
    margin: 7px 0px;
    font-size: 10px;
    font-family: var(--font1);
    border: 2px solid rgb(73, 49, 4);
    border-radius: 6px;
}

